<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageBlur-Accelerate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C164ECA1E88B92D00ED270C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C164EE31E88B92E00ED270C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C164EEE1E88B92E00ED270C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
